section#unpluggedceremony {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 5rem 0rem;
  background-color: #A7716C;
  background-image: url('/img/' + jessandjeraldine + '/bgpattern2.png');
  background-attachment: fixed;

  .accommodationLayout {
    display: flex;
    max-width: 42.75rem;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: 3.4375rem;
    padding:5rem;

    h2 {
      font-size: 3rem;
      text-align: center;
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.75rem;
      align-self: stretch;

      .desc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.75rem;
        align-self: stretch;
        text-align: center;
      }

      .hotelinfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.75rem;
        align-self: stretch;

        p.head {
          font-size: 1.25rem;
          font-style: normal;
          font-weight: 700;
          align-self: stretch;
        }

        .descInfo {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
        }

        .reserveInfo {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 2.25rem;
          align-self: stretch;

          .inclusions {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;

            .inclusionDesc {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 1.25rem;
              align-self: stretch;
            }
          }
        }

        .alternative {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1.75rem;
          align-self: stretch;

          .alternativeInfo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
          }

          .resort {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.75rem;
            align-self: stretch;

            .resortInfo {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              align-self: stretch;
            }
          }
        }
      }
    }
  }
}
