section#attire {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 5rem 0rem;

  .attireLayout {
    display: flex;
    max-width: 47.125rem;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
    align-self: stretch;
    padding: 1rem;

    h2 {
      font-size: 4.0625rem;
      text-align: center;
    }

    .details {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5625rem;
      align-self: stretch;

      text-align: center;

      .desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.9375rem;
        align-self: stretch;
      }
    }

    .outfit {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start;
      gap: 1.25rem 1.8125rem;
      align-self: stretch;
      flex-wrap: wrap;
    }
  }
}
