@import "../styles/variables.scss";

.herotext {
  margin: auto;
  z-index: $ZIndex-HeroText;
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;

  h1 {
    font-size: 3.875rem;
    color: white;
    text-align: center;
    text-shadow: $shadow-hero;
  }
}

@media (max-width: 767px) {

  .herotext h1 {
    font-size: 2.5rem;
  }
}
