section#ourstory {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 5rem 0rem;

  .ourstoryLayout {
    display: flex;
    max-width: 49.375rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.1875rem;
    text-align: center;

    padding: 1rem;

    h2 {
      font-size: 3.75rem;
    }

    .imagePeople {
      max-width: 42.751rem;
      width: 100%;
      height: auto;
    }

    .imageBegin {
      max-width: 42.751rem;
      width: 100%;
      height: auto;
    }
    p.head {
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 700;
    }

    .embrace {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.125rem;
      align-self: stretch;
    }

    .beginning {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      gap: 2.875rem;

      .beginningText {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.875rem;
        align-self: stretch;
      }
    }

    @media (max-width: 767px) {
      font-size: 3rem;
    }
  }
}
