@import '../styles/variables.scss';

.herotext {
  margin: auto;
  z-index: $ZIndex-HeroText;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  h1 {
    font-size: 5rem;
    color: white;
    text-align: center;
    text-shadow: $shadow-hero;
  }

}

@media (max-width: 767px) {
  .herotext {
    margin: auto auto 23%;

    h1 {
      font-size: 4rem;
    }
  }
}
