@import '../styles/variables.scss';

.banner {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;

  .imgSlide {
    transition: opacity 1s;
    position: absolute;
    z-index: -1;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    opacity: 0%;
  }

  .imgSlide.active {
    opacity: 100%;
  }

  .img1 {
    background-image: url('/img/#{$name-client}/1.jpg');
    background-position: center;
    background-size: cover;
  }

  .img2 {
    background-image: url('/img/#{$name-client}/2.jpg');
    background-position: bottom right;
    background-size: cover;
  }
  .img3 {
    background-image: url('/img/#{$name-client}/3.jpg');
    background-position:  right;
    background-size: cover;
  }

  .img4 {
    background-image: url('/img/#{$name-client}/4.jpg');
    background-position: center;
    background-size: cover;
  }

  .img5 {
    background-image: url('/img/#{$name-client}/5.jpg');
    background-position: center;
    background-size: cover;
  }

  @media (max-width: 991px) {
    .imgSlide {
      top: 5.625rem;

    
    }
    .img3 {
      background-image: url('/img/#{$name-client}/3m.jpg');
      background-position:  center;
      background-size: cover;
    }
  }

  // @media (max-width:767px) {
  //   .img3 {
  //     background-image: url("/img/#{$name-client}/3m.jpg");
  //   }

  //   .img5 {
  //     background-image: url("/img/#{$name-client}/5m.jpg");
  //   }
  // }
}
