section#entourageparty {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 5rem 0rem;

  .entourageLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.9375rem;
    max-width: 54.46413rem;
    padding: 1rem;

    h2 {
      font-size: 4.0625rem;
      width: 100%;
      text-align: center;
    }

    .people {
      display: flex;
      align-items: flex-start;
      gap: 2.25rem;
      align-self: stretch;
      border-radius: 400rem;

      .posName {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
      }
      .imagePeople {
        max-width: 9.96413rem;
        max-height: 9.96413rem;
      }
    }

    @media (max-width: 767px) {
      font-size: 3rem;

      .people {
        align-items: center;
        text-align: center;
        flex-direction: column;

        .posName {
          align-items: center;
        }
      }
    }
  }
}
